In [12]:
import pandas as pd
data={'name':['karthik','shivu','kanvi','vaishu'],'age':[21,32,21,35],'gender':['M','M','F','F']}
df=pd.DataFrame(data)
df[df['age']>30]
df.groupby(['gender']).mean()

         age
gender
F       28.0
M       26.5

In [15]:
import pandas as pd
df1 = pd.DataFrame({'Name': ['John', 'Mary'],
                    'Salary': [50000, 60000]})
df2 = pd.DataFrame({'Name': ['John', 'Mary', 'Bob'],
                    'Department': ['Sales', 'Marketing', 'Finance']})
df3 = pd.merge(df1, df2, on='Name')   # merge based on 'Name' column
print(df3)

   Name  Salary Department
0  John   50000      Sales
1  Mary   60000  Marketing

In [19]:
#Reshaping the data formats
df_new = pd.DataFrame({'Date': ['2022-01-01', '2022-01-02', '2022-01-03'],
                   'City': ['New York', 'New York', 'Paris'],
                   'Temperature': [5, 7, 9]})
print(df_new)
df_wide = df_new.pivot(index='Date', columns='City', values='Temperature')
#df_long = df_new.melt(id_vars='Date', value_vars=['New York', 'Paris'],
                  #var_name='City', value_name='Temperature')
print(df_wide)

         Date      City  Temperature
0  2022-01-01  New York            5
1  2022-01-02  New York            7
2  2022-01-03     Paris            9
City        New York  Paris
Date
2022-01-01       5.0    NaN
2022-01-02       7.0    NaN
2022-01-03       NaN    9.0